<div class="container mt-5">
    <span><h1>Assign Status</h1></span>
    <div class="card p-5" style="background-color:#37383a;">
       
        <div class="row">

            <button mat-raised-button color="primary" (click)="wip()">WIP :*click to assign complaint status as work in progress</button>
            <button mat-raised-button color="primary" class="mt20" (click)="Resolved()">Resolved :*click to assign complaint status as RESOLVED</button>
            <button mat-raised-button color="primary" class="mt20" (click)="Escalated()">Escalated :*click to assign complaint status as ESCALATED</button>

        </div>
    </div>

</div>
